/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
  	list-style: none;
};
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF  /* white */
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 100%; /*changed from 960px to 100% */
  padding-left: 30px;
  padding-right: 30px;
  position: relative;

}

/*
  ========================================
  Rows
  ========================================
*/

.row-landscape { 	
	margin-top: 80px; /* so that sticky header does not overlap */
 	padding: 0px 30px 30px 30px;
  	max-width: 100%;		
	display: flex;
	margin-bottom: 60px;
	flex-direction: column;
	justify-content: space-around;
  	align-items: center;
  	flex-wrap: wrap; 
  	z-index: 1; /* so that primary-header has greater z-index and stays on top */
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
 		
/*
  ========================================
  Typography
  ========================================
*/

h0, h1, h2, h3, h5, p {
  	margin-bottom: 2vw;
}
h0 {
	color: #00303f; /* cerulean blue */
  	font-size: 5vw;
  	line-height: 4.5vw;
  	font-weight: 450;
}
h1 {
	color: #00303f; /* cerulean blue */
  	font-size: 4.5vw;
  	line-height: 4.5vw;
  	font-weight: 400;
}
h2 {
  	font-size: 3vw;
  	line-height: 3.5vw;
  	font-weight: 300px;
  	color: #dcae1d; /* honey yellow */
}
h3 {
  	font-size: 24px;
  	font-weight: 300;
  	line-height: 3vw;
  	color: #00303f; /* cerulean blue */
}
h4 { /* bolded p element */
	color: #00303f; /* cerulean blue */
	font-size: 1.4vw;
	font-weight: 400;
  	line-height: 3vw; 	
}
p {
	color: #00303f; /* cerulean blue */
	font-size: 1.4vw;
	font-weight: 300;
  	line-height: 3vw; 	
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: #dcae1d; /*honey yellow*/
  	text-decoration: none;
}
a:hover {
	color: #dcae1d; /*honey yellow*/
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.primary-header a {
  color: #fff; /*white*/
}
.primary-header a:hover {
  color: #dcae1d; /*honey yellow*/
}

/*
  ========================================
  Primary header
  ========================================
*/

.primary-header {
	background-color: #00303f; /*cerulean blue*/
	border-bottom: 3px solid #7a9d96; /*misty blue*/;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: fixed; /* so that header stays there while scrolling */
  	width: 100%; /* so that header stays there while scrolling */
  	top: 0; /* so that header stays there while scrolling */
  	z-index: 2; /* greater z-index shows up in front of other content */
}

.logo {
  	border-top: 3px solid #7a9d96; /* misty blue */ 
  	padding: 3px 0 0 0;
  	float: left;
  	font-size: 2.5vw;		/* changed h1 properties */
  	font-weight: 300;		/* changed h1 properties */
  	letter-spacing: 0.2vw;
  	text-transform: uppercase;
  	display: inline;
  	
}

.primary-nav {
  	font-size: 1.2vw;
  	font-weight: 400;
  	letter-spacing: 0.07vw;
  	text-transform: uppercase;
  	margin-top: 3vw; /* flush with bottom */
}	

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  	text-align: right;
}
.nav li {
	display: inline-block;
	margin: 0 1vw; /* top/bottom space and in-between space */
}
.nav li:last-child {
	margin-right: 0;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
	background-color: #FFFFFF; /* white */
  	padding-bottom: 1.9vw;
  	font-size: 1.3vw;
  	text-align: center;
}
.primary-footer small {
  	font-weight: 400;
}

/*
  ========================================
  Lead
  ========================================
*/

.lead {
	padding: 7vw 7vw 14vw 7vw; /* top first */
  	text-align: center;
}

.lead h0 {
	padding-bottom: 3vw;
}

.lead h2 {
	padding-bottom: 3vw;
}

.lead-icons img {
	height: 3.2vw;
	width: 3.0vw;
	display: inline;
	margin: 0 3.2vw 0 3.2vw; /* space between the icons */
}

.lead-icons img:hover { /* hover effect for social media icons */
	transform: scale(1.1);
}

/*
  ========================================
  About
  ========================================
*/

.about-section {
	display: flex;
	padding: 0 8vw 6vw 2.5vw; /* last one is left padding */
}

.about-words {
	width: 60%;
	padding-top: 1.3vw;
	padding-left: 2.5vw;
	padding-right: 4vw;
}

.about-image {
	width: 40%;
}

.about-image img {
	margin-top: 3vw;
	max-width: 100%; /* responsive image */
	height: auto; /* responsive image */
}

/*
  ========================================
  Projects
  ========================================
*/

.projects-section {
	display: flex;
	padding: 0px 0px 0px 4.8vw;
}

.projects-teasers {
	max-width: 25%;
}

.projects-teasers h2 {
	margin-top: 1vw;
	margin-bottom: 0.1vw;
	font-size: 2vw;
}

.projects-teasers:first-child h2 {
	padding-left: 0;
}

.projects-teasers:nth-child(2) h2 {
	padding-left: 3vw;
}

.projects-teasers:nth-child(3) h2 {
	padding-left: 4.5vw;
}

.projects-teasers:last-child h2 {
	padding-left: 3.5vw;
}

.projects-section img {
	width: 14vw;
	height: 12vw;
	border: 1px solid #00303f;
	border-radius: 5px;
}

/*
  ========================================
  Image Overlay
  ========================================
*/

.overlay-container { /* overlay container covers a project teaser image */
	position: relative;
  	width: 14vw;
	height: 12vw;
  	margin: 2vw 8vw 0 2vw;
}

.overlay-mini {	/* mini overlay */
	position: absolute;
	border-radius: 5px;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 14vw;
  	height: 4vw;
  	background: rgba(0, 0, 0, 0.7); /* Black see-through */
  	color: #f1f1f1;
  	transition: .5s ease;
  	opacity: 0;
  	color: white; /* white text*/
  	text-align: center;
  	z-index = 5;
}

.overlay-caption-text { /* the caption on overlay */
	font-size: 1vw;
  	font-weight: 300;
  	letter-spacing: .5px;
  	height: 3.5vw;
}

.overlay-container:hover .overlay-mini { /* show mini overlay when project teasers are hovered */
	opacity: 1;
	cursor: pointer;
}

.overlay-container:hover img { /* thicken image border when project teasers are hovered */
	border: 2px solid #00303f;
	border-radius: 6px;
	cursor: pointer;
}

.overlay-container.disable {
  pointer-events: none;
  cursor: default;
}

/*
  ========================================
  Modals
  ========================================
*/

.modal {
	position: fixed;
	z-index: 20;
	
	max-width: 60vw; /* size of box */
	max-height: 74vh;
	
	top: 22vh; /* to make sure modal stays in center when window is resized */
	left: 20vw;
	
	background: white; /* gives box look */
	border: 3px solid #7a9d96; /* misty blue */
	border-radius: 15px;
	overflow-y: scroll;	
	box-shadow: 0 0 0 100em rgba(0,0,0,0.8); /* makes background go dark via box shadow */
	
	display: none; /* hidden until teaser is clicked */
}

.modal.open { /* when teaser is clicked and 'open' class is added */
	display: block;
	
}

.modal-close-button img {
	position: fixed;
	
	height: 1.8vw; /* size of icon */
	width: 1.8vw;

	top: 24vh; /* to make sure icon stays in top-right when window is resized */
	left: 76.5vw;
	
  	border-radius: 50%; /* circle border */
  	cursor: pointer;
}

.modal-close-button img:hover {
	transform: scale(1.15);
	cursor: pointer;
}

.modal-words h2 {
	margin-top: 2.5vh;
	margin-bottom: 1vh;
	text-align: center;
}

.modal-words p {
	padding-left: 3vw;
	padding-right: 3vw;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0.8vh;
}

.modal-words h4 {
	margin-top: 2vh;
	margin-bottom: 3vh;
	text-align: center;
}

.modal1-images, .modal2-images, .modal3-images, .modal4-images, .modal5-images, .modal6-images, .modal7-images, 
.modal8-images, .modal9-images {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 2vw; /* how much space between words above and images */
  	margin-bottom: 2vw; /* how much space between end of box below and images */
}

.modal1-images img:last-child {
	width: 18vw;
	margin-left: 10vw; /* how much space between pics */
}

.modal2-images img:last-child {
	width: 20vw;
	margin-left: 10vw; /* how much space between pics */
}

.modal3-images img:last-child {
	width: 10vw;
	margin-left: 10vw; /* how much space between pics */
}
































/*
  ========================================
  Columns
  ========================================
*/
.col-grid {
	display: flex;
	max-width: 100%;	
	justify-content: center;
}
.about-left-col {
 	flex: 66.66%;
 	padding-left: 30px;		
 	align-items: center;
}
.about-right-col {
	padding-left: 50px;	
	flex: 33.33%;	
	align-items: center;
}
.contact-left-col {
 	flex: 70%;
 	padding-top: 30px;
 	padding-left: 70px;	
 	align-items: center;	
}
.contact-right-col {
	flex: 30%;	
	padding-left: 0;	
	align-items: center;
}

/*
  ========================================
  Dropdown
  ========================================
*/
.dropdown {
  	position: relative;
  	display: inline-block;  	
}
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #cae1db; /*sky blue*/
  	min-width: 90px;
  	text-align: center;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* alternate to border */
  	z-index: 1; /* keeps dropdown content in foreground */
}
.dropdown-content a {
  	color: #00303f; /*cerulean blue*/
  	padding: 10px 7px 10px 7px;
  	display: block;
}	
.dropdown-content a:hover {
	background-color: #7a9d96; /* misty blue */
	color: #00303f; /* keeps the links cerulean blue when hovered upon */
}
.dropdown:hover .dropdown-content {
  	display: block;
}

/*
  ========================================
  Home
  ========================================
*/

.about-right-col img {
	display: flex;
	max-width: 100%;
	max-height: 500px;
	margin-top: 50px;
	/* border-radius: 5px; */
	/* border: solid 1px black; */
	display: -webkit-inline-box;
}
.about-left-col p {
	margin-bottom: 22px; /* add space between section */
}  
.about-left-col h4 {
	margin-bottom: 4px; /* add space between section */
} 

/*
  ========================================
  Contact
  ========================================
*/

.contact-list {
	color: #00303f; /* cerulean blue */
	font-size: 20px;
	font-weight: 300;
  	line-height: 30px; 
}
.contact-right-col img {
	display: flex;
	max-width: 100%;
	max-height: 250px;
	border-radius: 150px;
	border: solid 1px black;
	margin-top: 10px;
	margin-bottom: 20px;
	display: -webkit-inline-box;
}
.contact-left-col p {
	margin-top: 20px;
	font-size: 20px;
}

/*
  ========================================
  Buttons
  ========================================
*/

/* 
.btn {
  border-radius: 10px;
  display: inline-block;
  margin-top: 0;
  color: #00303f; /*text color cerulean blue*/
/*   cursor: pointer; */
/*   font-weight: 500; */
/*   letter-spacing: .5px; */
/*   text-transform: uppercase; */

/* 
}
.btn-alt { 
  padding: 15px 30px;
  border: 1px solid #00303f; /*cerulean blue*/
/* 
}
 */
/* 
.btn-alt:hover {
  background-color: #7a9d96; /*misty blue*/
/*   color: #00303f; /*text color stays cerulean blue*/ */
/*   border: 2px solid #00303f; /*border color stays cerulean blue*/ */
/* } */
/*  */
/*  */