/*
  ========================================
  Custom styles
  ========================================
*/

body {
  	font: 300 1rem/1.2rem "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF  /* white */
}

/*
  ========================================
  Grid
  ========================================
*/

.container {
  margin: 0 auto;
  max-width: 100%; /*changed from 960px to 100% */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* @media screen and (min-width: 800px) {
	body {
		background-color: lightgoldenrodyellow;
	}
} */

/*
  ========================================
  Rows
  ========================================
*/

.row-landscape { 	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  	align-items: center;
  	z-index: 1; /* so that primary-header has greater z-index of 2 and stays on top */
}
 		
/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, p {
  	margin-bottom: 0.5rem;
}

h1 {
  	font-size: 3.2rem;
  	line-height: 3.2rem;
  	font-weight: 400;
	color: #00303f; /* cerulean blue */
}
h2 {
  	font-size: 2.1rem;
  	line-height: 2.8rem;
  	font-weight: 300;
  	color: #dcae1d; /* honey yellow */
}
h3 {
  	font-size: 1rem;
	line-height: 1.9rem;
  	font-weight: 400;
  	color: white; /* white */
}
p {
	font-size: 1rem;
  	line-height: 1.9rem;
	font-weight: 300; 
	color: #00303f; /* cerulean blue */	
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: #dcae1d; /*honey yellow*/
  	text-decoration: none;
}
a:hover {
	color: #dcae1d; /*honey yellow*/
}

a.disable {
  pointer-events: none;
  cursor: default;
}

/*
  ========================================
  Primary header
  ========================================
*/

.primary-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 3rem;
  	width: 100%; /* so that header stays there while scrolling ?? */

	background-color: #00303f; /*cerulean blue*/
	border-bottom: 0.2rem solid #7a9d96; /*misty blue*/;
	padding-bottom: 0;
	margin-bottom: 0;

	position: fixed; /* so that header stays there while scrolling */
  	top: 0; /* so that header stays there while scrolling */
  	z-index: 2; /* greater z-index shows up in front of other content */
}

.primary-header a {
	color: #fff; /*white*/
  }
  .primary-header a:hover {
	color: #dcae1d; /*honey yellow*/
  }

.logo {
  	font-size: 1.5rem;	/* changed h1 properties */
  	font-weight: 300;		/* changed h1 properties */
  	letter-spacing: 0.2rem;
  	text-transform: uppercase;
	margin: 0;
	margin-right: auto; /* moves logo to extreme left and navbar to extreme right */
}

.navbar ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	
	max-height: 3rem;
	width: 12rem;
	margin-right: 3rem;
	padding: 0;

	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 0.07rem;
	text-transform: uppercase;
	
	list-style: none; /* get rid of bullet points for list items */

}

.navbarli2 {
	margin-left: 1.2rem;
}

/*
  ========================================
  Lead
  ========================================
*/

.lead {
	background-color:azure;
}

.lead h1 {
	padding-top: 2rem;
}

.icons ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	width: 20rem;
	margin: 0;
	padding: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	
	list-style: none; /* gets rid of bullet points for list items */
	
	/*border: 0.1rem solid purple;*/ /* debugging */
}

.iconsli img {
	display: block; /* need this bc img is an in-line object but we need block */
	height: 2.0rem;
	width: 1.9rem;
	
	margin: 0;
	padding: 0;	
	margin-left: 1rem;
	margin-right: 1rem;
}

.iconsli img:hover { /* hover effect for social media icons */
	transform: scale(1.1);
}

/*
  ========================================
  About
  ========================================
*/

.about-section {
	display: flex;
	padding: 0 8vw 0 2.5vw; /* top, right, bottom, left */
}

.about-words {
	width: 60%;
	padding-top: 1.3vw;
	padding-left: 2.5vw;
	padding-right: 4vw;
}

.about-words ul { /* unordered list in this section has same properties as p */
	color: #00303f; /* cerulean blue */
	font-size: 1.4vw;
	font-weight: 300;
  	line-height: 2.2vw; 	
}

.about-words p + ul { /* remove some space between paragraph and unordered list */
    margin-top: -0.5rem;
}

.about-image {
	width: 40%;
}

.about-image img {
	margin-top: 5vw;
	max-width: 100%; /* responsive image */
	height: auto; /* responsive image */
}

/*
  ========================================
  Projects
  ========================================
*/

.projects-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin-top: 2rem; /* space at top from the section title */
}

.projects-teasers-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	margin-bottom: 1rem; /* space between rows */
}

/*
  ========================================
  Image Overlay
  ========================================
*/

/* overlay container covers a project teaser image */
.overlay-container {
	position: relative;

	/* space between overlay-containers (the project boxes) */
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.overlay-container img {
	display: block; /* need this bc img is an in-line object but we need block */
	width: 12rem;
	height: 10rem;
	border: 0.1rem solid #00303f;
	border-radius: 0.3rem;
}

/* mini overlay */
.overlay {
	position: absolute;
  	bottom: 0;
  	width: 100%; /* takes from parent */
  	height: 100%;
  	
	border-radius: 0.3rem;

	background: rgba(0, 0, 0, 0.7); /* Black see-through */
  	color: #f1f1f1;
  	transition: .5s ease;
  	opacity: 0;

	text-align: center;

  	z-index: 5;	
}

/* white text */
.overlay p {
	color: white;
}

/* show overlay when project teasers are hovered */
.overlay-container:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

/* thicken image border when project teasers are hovered */
.overlay-container:hover img {
	border: 2px solid #00303f;
	border-radius: 6px;
	cursor: pointer;
}

.overlay-container.disable {
  pointer-events: none;
  cursor: default;
}

/*
  ========================================
  Modals
  ========================================
*/

.modal {
	position: fixed;
	z-index: 20;
	
	max-width: 60vw; /* size of box */
	max-height: 74vh;
	
	top: 22vh; /* to make sure modal stays in center when window is resized */
	left: 20vw;
	
	background: white; /* gives box look */
	border: 0.2rem solid #7a9d96; /* misty blue */
	border-radius: 1rem;
	overflow-y: scroll;	
	box-shadow: 0 0 0 100rem rgba(0,0,0,0.8); /* makes background go dark via box shadow */
	
	display: none; /* modal hidden until teaser is clicked */
}

.modal.open { /* when teaser is clicked and 'open' class is added */
	display: block;	
}

.modal-section {
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	align-items: center;

	padding: 0 1rem 0 1rem; /* top, right, bottom, left */
}

.modal-words {
	width: 70%;
	padding-top: 1.3vw;
}

.modal-words h2 {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
	text-align: center;
}

.modal-words p {
	text-align: left;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.modal-images {
	width: 30%;
}

.modal-images img {
	margin-top: 3rem;
	margin-right: 3rem;
	margin-bottom: 0.5rem;
	max-width: 100%; /* responsive image */
	height: auto; /* responsive image */
}

.modal-close-button img {
	position: fixed;
	
	height: 1.1rem; /* size of icon */
	width: 1.1rem;

	top: 26vh; /* to make sure icon stays in top-right when window is resized */
	left: 76vw;
	
  	border-radius: 50%; /* circle border */
  	cursor: pointer;
}

.modal-close-button img:hover {
	transform: scale(1.15);
	cursor: pointer;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 3rem;
	background-color: #FFFFFF; /* white */
	margin: 0;
	padding: 0;
	padding-top: 3rem;
  	
  	text-align: center;
}

.primary-footer p {
	font-size: 0.9rem;
	font-weight: 400;
}
