/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #00303f;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 100%; /*changed from 960px to 100% */
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.row,	/*change to row-lead*/
.row-portrait,
.row-landscape {
	background: #cae4db; 	/* sky blue*/
 	padding: 10px 0 30px 0;
  	max-width: 100%;		
	display: flex;
	justify-content: space-around;
  	align-items: center;
  	flex-wrap: wrap; 
}
.row {
	flex-direction: column;
} 
.col-grid {
	background: #cae4db; 	/* sky blue*/
	display: flex;
	max-width: 100%;	
	justify-content: center;
}
.about-left-col {
 	flex: 66.66%;
 	padding-left: 30px;		
 	align-items: center;
}
.about-right-col {
	padding-left: 50px;	
	flex: 33.33%;	
	align-items: center;
}
.contact-left-col {
 	flex: 70%;
 	padding-top: 30px;
 	padding-left: 70px;	
 	align-items: center;	
}
.contact-right-col {
	flex: 30%;	
	padding-left: 0;	
	align-items: center;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
 		
/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, p {
  margin-bottom: 12px;
}
h1 {
	color: #00303f; /* cerulean blue */
  	font-size: 40px;
  	line-height: 44px;
  	font-weight: 400;
}
h2 {
  	font-size: 32px;
  	line-height: 33px;
  	font-weight: 300px;
  	color: #dcae1d; /* honey yellow */
}
h3 {
  	font-size: 24px;
  	font-weight: 300;
  	line-height: 28px;
  	color: #00303f; /* cerulean blue */
}
h4 {
	color: #dcae1d; /* honey yellow */
  	font-size: 18px;
  	text-transform: uppercase;
  	font-weight: 300;
}
p {
	color: #00303f; /* cerulean blue */
	font-size: 17px;
	font-weight: 300;
  	line-height: 30px; 	
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
	padding: 20px 80px 30px 80px;
  	text-align: center;
}
.lead h1 {
	margin-bottom: 2px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: #dcae1d; /*honey yellow*/
  	text-decoration: none;
}
a:hover {
	color: #dcae1d; /*honey yellow*/
}
.primary-header a,
.primary-footer a {
  color: #fff; /*white*/
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #dcae1d; /*honey yellow*/
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 10px;
  display: inline-block;
  margin-top: 0;
  color: #00303f; /*text color cerulean blue*/
  cursor: pointer;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.btn-alt { 
  padding: 15px 30px;
  border: 1px solid #00303f; /*cerulean blue*/
}
.btn-alt:hover {
  background: #7a9d96; /*misty blue*/
  color: #00303f; /*text color stays cerulean blue*/
  border: 2px solid #00303f; /*border color stays cerulean blue*/
}

/*
  ========================================
  Cover photos
  ========================================
*/
/*.home-cover-photo {
	background-image: url("../images/cover-photos/home-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/ 
   	display: flex;
}
.memes-cover-photo {
	background-image: url("../images/cover-photos/memes-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/
  	display: flex;
}
.photoedits-cover-photo {
	background-image: url("../images/cover-photos/photoedits-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/
  	display: flex;
}
.gifs-cover-photo {
	background-image: url("../images/cover-photos/gifs-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/
  	display: flex;
}
.about-cover-photo {
	background-image: url("../images/cover-photos/about-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/
  	display: flex;
}
.contact-cover-photo {
	background-image: url("../images/cover-photos/contact-cover-photo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 75vh;
  	border-top: 10px solid #7a9d96; /*misty blue*/
  	border-bottom: 10px solid #7a9d96; /*misty blue*/
  	display: flex;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  	border-top: 4px solid #7a9d96; /* misty blue */ 
  	padding: 20px 0 0 0;
  	float: left;
  	font-size: 48px;		/* changed h1 properties */
  	font-weight: 300;		/* changed h1 properties */
  	letter-spacing: .5px;
  	text-transform: uppercase;
}
.tagline {
 	margin: 36px 0 36px 0; /* move tagline down, move tagline left, move nav menu down, move tagline right */
  	text-align: right;
  	color: #dcae1d; /*honey yellow*/ 	/* changed h3 color property */
  	font-size: 34px; 					/* changed h3 font-size property */
}
.primary-nav {
  	font-size: 14px;
  	font-weight: 400;
  	letter-spacing: .5px;
  	text-transform: uppercase;
}	

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  	padding-bottom: 24px;
  	padding-top: 24px;
  	color: #dcae1d;
  	font-size: 14px;
  	border-top: 10px solid #7a9d96; /*misty blue*/;
}
.primary-footer small {
  	font-weight: 400;
  	float: left;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  	text-align: right;
}
.nav li {
	display: inline-block;
	margin: 0 10px; /* top/bottom space, in-between space */
	vertical-align: top;
}
.nav li:last-child {
	margin-right: 0;
}

/*
  ========================================
  Image Positioning
  ========================================
*/
.row-portrait img,
.row-landscape img {
	border-radius: 5px;
	border: solid 1px black;
	max-width: 100%;
} 
.row-portrait img { 	
	height: 320px;
}
.row-landscape img {
	height: 220px;
}	

/*
  ========================================
  Image Overlay
  ========================================
*/

.overlay-container {
	position: relative;
  	max-width: 100%;
}
.overlay {	/* general overlay */
	position: absolute;
	border-radius: 5px;
  	top: 0;
	bottom: 0; 
  	left: 0;
  	right: 0;	 
  	max-width: 100%;
  	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.5); /* Black see-through */
  	color: #f1f1f1;
  	transition: .5s ease;
  	opacity: 0;
  	color: white; /* white text*/
  	text-align: center;
}
/*.overlay-portrait,
.overlay-landscape {
  	font-size: 14px;
  	font-weight: 300;
  	letter-spacing: .5px;
}	
.overlay-portrait { /* padding of text and height of overlay for portrait pictures *//*
	max-height: 320px;	
	padding: 70px; *//*
}
.overlay-landscape { /* padding of text and height overlay for landscape pictures *//*
	max-height: 220px;	
	padding: 70px;
}*/
.overlay-home-text { /* text on overlay for teasers on home page. Must come after overlay-landscape to overrule */
  	font-size: 20px;
  	padding: 70px;
  	font-weight: 300;
  	letter-spacing: .5px;
  	/*these two lines can be deleted and the above three {} can be uncommented if we want overlay on all pics. Add overlay-landscape to teasers*/
  	text-transform: uppercase;
  	max-height: 220px;
}
.overlay-container:hover .overlay { /* general hover effect for overlays */
	opacity: 1;
}

/*
  ========================================
  Home
  ========================================
*/


/*
  ========================================
  Memes
  ========================================
*/

/*
  ========================================
  Photoedits
  ========================================
*/

/*
  ========================================
  About
  ========================================
*/

.about-right-col img {
	display: flex;
	max-width: 100%;
	max-height: 500px;
	border-radius: 5px;
	border: solid 1px black;
	display: -webkit-inline-box;
}
.about-left-col p {
	margin-bottom: 22px; /* add space between section */
}  
.about-left-col h4 {
	margin-bottom: 4px; /* add space between section */
} 

/*
  ========================================
  Contact
  ========================================
*/

.contact-list {
	color: #00303f; /* cerulean blue */
	font-size: 20px;
	font-weight: 300;
  	line-height: 30px; 
}
.contact-right-col img {
	display: flex;
	max-width: 100%;
	max-height: 250px;
	border-radius: 150px;
	border: solid 1px black;
	margin-bottom: 30px;
	display: -webkit-inline-box;
}
.contact-left-col p {
	margin-top: 20px;
	font-size: 20px;
}

